# Virtual environment
multi_agent/

# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/editor files
.vscode/
.idea/
*.swp

# Environment variables
.env

# Ignore cProfile and Snakeviz profile files
*.prof
*.svg
*.profile
profile.prof
profile.svg
profiling_stats*

# Folders
runs/
plots/

# Videos
*.mp4